<%= form_for(@order_flavor) do |f| %>
  <% if @order_flavor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_flavor.errors.count, "error") %> prohibited this order_flavor from being saved:</h2>

      <ul>
      <% @order_flavor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :flavor_id %><br />
    <%= f.number_field :flavor_id %>
  </div>
  <div class="field">
    <%= f.label :order_product_id %><br />
    <%= f.number_field :order_product_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
