<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @size.name %>
</p>

<p>
  <b>Value:</b>
  <%= @size.value %>
</p>


<%= link_to 'Edit', edit_size_path(@size) %> |
<%= link_to 'Back', sizes_path %>
